* {
    margin: 0;
    padding: 0;
}

/* counter project */
.counter-project{
    background-color: #fcfc62;
}

.counter-container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    border: 5px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: #feffea;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter h1 {
    font-size: 2rem;
}

#count {
    font-size: 9rem;
}

/* image carousel */

.image {
    display: none;
}

.carousel-container {
    width: 70%;
    height: 100vh;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#prev {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
    top: 43%;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover, #next:hover {
    background-color: black;
}

.dots {
    text-align: center;
    margin-top: 2%;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: grey;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active {
    background-color: black;
}

.fade {
    animation: fade 1.5s forwards;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@media(mac-width: 768px){
    .carousel-container{
        width: 100%;
    }
}

/* digital clock */

.digital-clock-project {
    font-family: 'Anton', sans-serif;
    color: #00ff00;
    overflow: hidden;
    background: conic-gradient(from 90deg at 50% 125%, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;
}

.digitalClock {
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #00000022;
}

.digitalClock h1 {
    display: inline-block;
    margin: 0 10px;
    font-size: 5rem;
}

@media(max-width: 768px){
    #bar1, #bar2{
        display: none;
    }

    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{
        display: block;
    }
}

@media(max-width: 480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}

/* calculator */
.calculator-project {
    overflow: hidden;
    height: 100vh;
    background-color: linear-gradient(#f4f4ed, #fff);
}

.calc-container {
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px #00000036;
}

#calcUserInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background-color: #ffffffb3;
    margin-bottom: 10px;
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
}


.calc-btn {
    width: 24%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: #ffffff70;
}

.btnEqual {
    width: 99.2%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: #ffffff70;
}

.calc-btn:hover, .btnEqual:hover {
    background-color: rgba(128,128,128,0.1);
}

@media(max-width:480px){
    .calc-btn{
        width: 20%;
    } 
} 
    
@media(max-width: 320px) {
    .calc-btn{
        width: 18%;
    } 
}